<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/main.css' />
    <script src="/app.js"></script>
    <meta name="description" content="<%= description %>" />
  </head>
  <body>
  	<%- partial("_header") %>
    <%- yield %>
    <div id="footer">
      <a id="back" href="#">Go Back</a>
      <p>Copyright (c) Ethan Eldridge</p>
    </div>
  </body>
</html>